## Assignment 4

### Question 1

In [ ]:
[] <-- is a parenthesis which is used to declare a variable as a list. List is a container object which is used to stored
different objects.

### Question 2

In [1]:
spam = [2,4,6,8,10]

In [ ]:
Assigning "hello" as a third value in the list. List are 0-indexed , if we need to place it after 4 then we need to access 
the 2nd index.

In [3]:
spam.insert(2,"hello")

In [4]:
spam

[2, 4, 'hello', 6, 8, 10]

#### Given

In [2]:
spam = ['a','b','c','d']

## Question 3

In [6]:
a = int(int('3'*2)/11)

In [7]:
a

3

In [ ]:
In the above expresion '3' * 2 will repeat the string 3 two times making it '33' and then converting it to int makes it 33
. 33/11 = 3

In [8]:
spam[a]   #< --- Ans is 'd'

'd'

## Question 4

In [10]:
spam[-1]   #   <-- It will return the value of the last index

'd'

## Question 5

In [3]:
spam[:2]

['a', 'b']

### Given

In [1]:
bacon = [3.14, 'cat', 11, 'cat', True]

## Question 6

In [2]:
bacon.index('cat')   #   <--  It gives the first occurence of the cat

1

## Question 7

In [3]:
bacon.append(99)              # <--  [3.14, 'cat', 11, 'cat', True, 99]

In [4]:
bacon

[3.14, 'cat', 11, 'cat', True, 99]

## Question 8

In [5]:
bacon.remove('cat')      #  <-- Removes the first occurence of a cat in the list    [3.14, 11, 'cat', True, 99]

In [6]:
bacon

[3.14, 11, 'cat', True, 99]

## Question 9

In [ ]:
List concatenation operators :
    We can concatenate two lists using '+' operator
    We can concatenate a list with other list only.
    Data-structure should of both objects should be list

In [7]:
l1 = [2,3,4]
l2 = [6]
l1+l2

[2, 3, 4, 6]

In [ ]:
List Replication operation:
    Like strings we use * for list replication

In [9]:
l1*2             # <-- list replication

[2, 3, 4, 2, 3, 4]

## Question 10

In [ ]:
List Append method is used to add the element to the end of the list.
The type of the value that is appended can be anything.

In [10]:
l_1 = [3,4,5]

In [11]:
l_1.append("SHR")       # <-  [3, 4, 5, 'SHR']

In [12]:
l_1

[3, 4, 5, 'SHR']

In [ ]:
List Insert method is used to add the element at the specified location.
It adds the value before the element at the specified location.

In [23]:
l_2 = [3,4,5]

In [24]:
l_2.insert(1,"SHR")

In [25]:
l_2                    # <-- [3, 'SHR', 4, 5]

[3, 'SHR', 4, 5]

## Question 11

In [ ]:
Two methods for removing items from the list :
    1. Remove :
        Removes the first occurence of the given value in the function.
        
    2. POP:
        Pop removes the element that is present in the specified index

## Question 12

In [ ]:
HOW list values and string values are identical ?
    
    They are identical due to the reasons/ following property:
        1. Both values are iterable
        2. Both values can be accessed with the help of indexes.
        3. They can be accessed through the range[]

## Question 13

In [ ]:
Difference between tuples and list:
    
    Tuples and List are both collection objects that can store data of different type but they 
    differ due to the following reason:
        
        1. Tuples are immutable, Lists are mutable
        2. Tuples are represented by (), Lists are represented by []
        3. There are various range of methods available for the list,
           Few methods are available for the tuples.

## Question 14

In [ ]:
How do you type a tuple value that contains pnly integer 42?

In [38]:
tup = (42,)

In [39]:
type(tup)

tuple

## Question 15

In [ ]:
Getting tuple form from a list

In [1]:
list_1 = [3,4,5,"SHR",2,4]

In [2]:
tuple_1 = tuple(list_1)

In [3]:
tuple_1

(3, 4, 5, 'SHR', 2, 4)

In [ ]:
Getting tuple form from a list

In [4]:
list_2 = list(tuple_1)

In [5]:
list_2

[3, 4, 5, 'SHR', 2, 4]

## Question 16

In [ ]:
Variables that contain list values are not necessarily list themselves . 

The variable contain the reference of the list. Variable contains the reference of that list rather than having the value as 
the list itself

In List the elements are liked to each other through the references.

In [23]:
a = [5,5,2,5,"s",[5,2,3]]

## Question 17

In [48]:
import copy

In [ ]:
copy is the module that is used to create the copy of the collection and store into other reference variable.

It has two functions/methods copy() and deepcopy()

copy.copy() <--  Creates the new collection variable/objects  and stores the references of the value of the original elements
    to it instead of copying the elements entirely.
    
copy.deepcopy() <-- Creates the new collection object and it creates the copy of the value of all the elements from the original
    element to this new collection object. It does this recursively.

In [49]:
l = [3,4,5,[5,7]]

In [50]:
#shallow copy 

sc = copy.copy(l)

In [51]:
sc

[3, 4, 5, [5, 7]]

In [52]:
sc[0] = 2

In [53]:
sc

[2, 4, 5, [5, 7]]

In [54]:
l

[3, 4, 5, [5, 7]]

In [ ]:
We can see that the value of original list does not changes as the child list stores the reference to the variable and once
assigned with the new value the variable at the particular index only changes.

Hence original list remains unchanged.

But when their is nested collection then the value of original collection also changes , as the changes are made to the 
reference variable where the original collection's index points to..

In [55]:
sc[3][0] = 4

In [56]:
sc

[2, 4, 5, [4, 7]]

In [57]:
l                             # <-- Value changed

[3, 4, 5, [4, 7]]

In [58]:

#deep copy

dc = copy.deepcopy(l)

In [59]:
dc

[3, 4, 5, [4, 7]]

In [63]:
dc[0] = 7

In [64]:
dc

[7, 4, 5, [4, 7]]

In [65]:
l

[3, 4, 5, [4, 7]]

In [ ]:
## In normal list shallow copy and deepcopy behaves the same

In [ ]:
As deepcopy creates copy of all the values recursively, so even if the value of nested collection is changed then the 
original value remains unchanged.

In [66]:
dc[3][0] = 7

In [67]:
dc

[7, 4, 5, [7, 7]]

In [68]:
l

[3, 4, 5, [4, 7]]